:root{
    --bg-color: #FFFFFF;
    --secondary-color: #E89119;
    --primary-color: #2EC4B6;
    --details-blue: #BEEEE9;
    --details-orange: #FFBF69;
}


.welcome{
    display: flex;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    justify-content: center;
    margin: 2vh;
}

.nav-link{
    color: var(--bg-color);
}

.nav-link:hover{
    color: var(--details-orange);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: var(--details-blue);
    border-color: var(--details-blue);
    color: var(--primary-color);
    font-weight: bold;
}

.welcome ul{
    list-style: none;
    margin: 0;
    animation: change 6s infinite;
}

.welcome ul, h1{
    color: var(--secondary-color);
    font-size: 30px;
    margin:0;
    font-weight: bold;
    align-items: center;
}

@keyframes change{
    0%{ margin-top: 0;}
    20%{ margin-top: 0;}

    25%{ margin-top: -40px;}
    50%{ margin-top: -40px;}

    55%{ margin-top: -80px;}
    80%{ margin-top: -80px;}

    85%{ margin-top: -40px;}
    95%{ margin-top: -40px;}

    100%{margin-top: 0;}
}

#post-header{
    background-color:var(--primary-color);
}
.modal-dialog{
    max-width:920px;
}
.head-icons{
    width:20px;
    cursor:pointer;
    transition:0.5s;
    color:var(--bg-color)
}
.head-icons:nth-child(2n){
    margin-left:10px;
}
#trash{
    margin-left:20px;
    width:16px;
}
.fa-user,.fa-envelope,.fa-comments{
    margin-right:5px;
    padding:8px;
}
#username,#email{
    color:var(--secondary-color);
}
#email{
    border-left: 2px solid black;
}

#description{
    margin-top: 20px;
    font-size: 20px;
}
#comments{
    color:var(--secondary-color);
    margin-bottom: 10px;
}
.loadComments{
    background-color:var(--secondary-color);
    color:white;
    border:none;
    border-radius: 10px;
    padding: 10px;

}

.menuBlue{
    background-color: var(--primary-color);
    height: 5vh;
}

.row{
    height: 50%;
}

.container>.row{
    height: 38vh;
}
.divPost{
    background-color: var(--details-blue);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.divPostDetail{
    background-color: var(--bg-color);
    width:auto;
    height: auto;
    padding: 5%;
    cursor: pointer;
}

.titlePost{
    font-size: 18px;
}

.comment{
    color: var(--secondary-color);
}
