/**
 * BASE - RESET
 */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
  /* Make sure all elements are above the background */
  z-index: 1;
  position: relative;
}

/* default */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: var(--foreground);
  transition: color var(--transition);
  background-blend-mode: multiply;
}

html::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  background: var(--black);
  transform: translateX(-100%);
  transition: transform var(--transition);
  z-index: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button{
  cursor: pointer;
}

code{
  display: block;
  padding-bottom: 0.6rem;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: normal;
}
