*{
    text-align: center;
}
.height100{
    height: 100px;
}
.padding50{
    padding: 50px;
}
.margin8{
    margin-bottom: 8px;
}
.containerGeneral{
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding: 2em;
    margin: auto;
}
.disFlex{
    display: flex;
    justify-content: center;
}

.hide{
    display: none;
}

.green{
    background-color: rgb(233, 245, 216);
}
.btnMargin{
    margin: 3px;
}