body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 30rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.header__title{
    margin-left: 2rem;
}
.img__userProfile{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.posts__article {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    position: relative;
}

.post__title, .article__span--username{
    text-transform: uppercase;
    font-weight: bold;
}

.post__body, .article__span--comment{
    margin-left: 0.3rem;
    margin-bottom: 5rem;
}

.article__button--showComments{
    background: url('../../img/icon/comment-icon.png') center no-repeat;
    width: 3rem;
    height: 3rem;
    /* position: absolute; */
    /* top: 75%; */
    /* left: 1%; */
    border: none;
}

.article__button--createComments{
    background: url('../../img/icon/create-comment-icon.png') center no-repeat;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 75%;
    left: 9%;
    border: none;
}

.article__button--editButton{
    background: url('../../img/icon/edit-icon.png') center no-repeat;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 75%;
    left: 17%;
    border: none;
}

.article__button--deleteButton{
    background: url('../../img/icon/delete-icon.png') center no-repeat;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 75%;
    left: 25%;
    border: none;
}

.comments__article{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(10, 10, 10);
    padding: 0.3rem;
}