.article__post {
  display: flex;
  padding: 2%;
  margin: 20px 10%;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgb(199, 199, 199);
}
.post__container {
  width: 100%;
}

.postList {
  background-color: aliceblue;
  margin: 0 15%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  border-radius: 10px;
}
.navbar {
  position: sticky !important;
  padding: 15%;
  top: 0;
  width: 100%;
  z-index: 1;
}
.subTitle {
  padding: 20px ;
  margin: 0 15%;
  font-weight: 700;
  border-radius: 10px;
  border-top: 3px solid rgb(194, 194, 194);
  background-color: black;
  color: white;
  opacity: 0.7;
  text-align: center;
}
main {
  position: relative;
}
.img__avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.buttons__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn__delete {
  margin-left: 2rem;
}

.openModal:hover {
  color: rgb(224, 89, 89);
  cursor: pointer;
}
main {
  /* background-color: rgb(192, 191, 191); */
  background-image: url("../assets/Aablog.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: black;
  opacity: 0.9;
  /* margin-right: 15%; */
}
.comments__li{
  list-style-type: none;
  box-shadow: 2px 2px 2px 2px rgb(199, 199, 199);
  padding: 2%;
  margin: 20px 0;
}
.comments__li:hover{
  background-color: beige;
}

.hide{
    display: none !important;
}
@media (max-width: 700px) {
  .navbar img {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .article__post {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 20px 0%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(199, 199, 199);
  }
  .postList {
    background-color: aliceblue;
    margin: 0 2%;
    padding-top: 2rem;
    padding-bottom: 5rem;
    border-radius: 10px;
  }
  .btn__modify {
    margin-top: 0.7rem;
    width: 100%;
  }
  .btn__delete {
    margin-top: 0.7rem;
    margin-left: 0;
  }
  .img__avatar {
    margin: 10px auto;
    width: 9rem;
    height: 9rem;
  }
  .buttons__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
  }
  ul#postList.postList {
    padding-left: 0;
  }
}
