body {
  background-color: #bbc4cc;
}

main div {
  cursor: pointer;
  text-transform: capitalize;
}

.modal-body::first-letter,
.modal-title::first-letter,
.comment-title::first-letter,
.comment-body::first-letter {
  text-transform: capitalize;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}

.comment {
  background-color: #e7e9eb;
}

#toast-container {
  position: relative;
  height: 100%;
  width: 100%;
}

#deletedMessage {
  position: fixed;
  margin-top: 35vh;
  z-index: 2000;
}
