/*General variables*/
:root {
  --redColor: #e23049;
  --greenColor: #95c5b5;
}
* {
  /* outline: 1px black solid; */
  font-family: "Montserrat", sans-serif;
}

/*Bootstrap default styles*/
.col,
.col-12,
.col-md-4,
.col-md-12 {
  padding: 20px;
}

/*Style for header*/
header {
  user-select: none;
  background-color: black;
  height: 80px;
  padding-left: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
header img {
    margin-left: 10px;
}

/*Post main page style*/
.post {
  position: relative;
  padding: 0;
  text-align: center;
}

.post:hover {
  cursor: pointer;
}

.post span {
  position: absolute;
  bottom: 20%;
  left: 0%;
  z-index: 1;
  display: inline;
  width: auto;
  margin: 10px;
  padding: 0;
  color: white;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0;
  text-decoration: none;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}
figure img {
  width: 100%;
}

/* Rotate and Gray Scale animation */
.post figure img {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.8s ease-in-out;
}
.post figure:hover img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

