
.text-center{
    background-image: linear-gradient(24deg,rgb(0, 217, 255),rgb(245, 248, 248));
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}

.form-signin{
    background-color:'none';
    margin: 10% 30%;
}
div.form-floating .form-control{
    background-color: rgba(0,0,0,0);

    border:none;
    outline: none;

}
.titol{
font-size: 15px;
color:rgb(59, 192, 150) ;
}
.myButon{
    background-image: linear-gradient(12deg, rgb(169, 238, 217),rgba(0, 0, 0,0));
    background-color: rgba(0, 0, 0,0);
    height: 50px;
    width: 100%;
    border:none;
    border-bottom: rgb(2, 44, 51);
    outline: none;
    border-radius: 10px;
}
.myButonLabel{
   font-size: 10px;
   color:rgb(59, 192, 150) ;
}
.sendBut{
    background-image: linear-gradient(6deg, rgb(28, 241, 178),rgba(0, 0, 0,0));
    background-color: rgba(0, 0, 0,0);
    border:none;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    color: rgb(55, 110, 93);
    
}