/*60 - 30 - 10*/
:root {
  --color-ppl: #e4dfda;
  --color-secundario: #3C7595;
  --color-details: #4595a5;
  --color-details2: #f89335;
}
body, header{
  margin: auto;
  max-width: 100vh;
  background-color: var(--color-ppl);
font-family: 'Literata', serif;
}
/* MODAL */
.modalTransparent{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgb(0, 0, 0,0.5);
}
.modalSmall{
    width: 65%;
    height: 65%;
    background-color: #cec4c1b2;
    border-radius: 10px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  align-content: space-around;
  background-color: var(--color-details2);
}
li {
  display: inline-flex;
  text-align: end;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 100px;
  font-size: 20px;
  color:var(--color-ppl);
}
.myBlog{
  display: flex;
  flex-direction: column;
  background-color: var(--color-secundario);
  justify-content: center;
  margin: 1% 3%;
  padding: 60px 50px;
}
.banner-Blog{
  background-color:var(--color-secundario);
  margin-bottom: 3%;
  margin-top: 3%;
  color:var(--letter-color);
}
.textBlog{
  display: flex;
  justify-content: center;
  font-size: 10vw;
  padding-top: 3%;
  margin-bottom:0%;
  font-weight: 800;
}
.textBlog-1{
  display: flex;
  justify-content: flex-end;
  font-size: 3vw;
  margin-bottom: 0%;
  padding-top: 1%;
}
/*/CARDS/*/
#container-card-a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 3% 0% 3%;
}
.card{
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-width: 20%;
  padding: 3%;
  text-align: justify;
  word-wrap: break-word;
  border-color: var(--color-details);
  background-clip: border-box;
  border-radius: 0.25rem;
}
.h-100:hover{
  background-color: var(--color-details);
}
.card-header {
  padding: 0.5rem 1rem;
  font-size: ;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
/*ICON CARD*/
#imgUser{
  display:block;
  margin:auto;
  width: 100%;
  /* height: 100%; */
  border: 1px solid rgb(11, 11, 12) ;
  border-radius: 60%;
  padding: 5%;
  object-fit: cover ;
  background-color: var(--color-ppl);
}
#imgPost{
  display:block;
  margin:auto;
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid rgb(11, 11, 12) ; */
  border-radius: 5%;
  /* padding: 5%; */
  object-fit: cover ;
  background-color: var(--color-ppl);
}
h5{
  height: 60px;
  overflow: hidden;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 2%;
}
.pCard{
  font-size: 20px;
  white-space: nowrap; 
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000;
}

/*BUTTONS*/
.btnPreNext{
  display: flex;
  justify-content: space-between;
  height: 10%;
  padding: 1% 6% 0%;
}
.btn-outline-primary{
  color:var(--color-details2);
  border-color: var(--color-details2);
  background-color: white;
  font-size: 150%;
  font-weight: 800;
  width: 15%;
  padding: 1%;
}
.btn-outline-primary:hover {
  color:var(--color-ppl);
  background-color:var(--color-details2);
  border-color: var(--color-details2);
}
/*btnDeletePost*/
.btn-danger {
  color: #fff;
  background-image: url();
  background-color: var(--color-details2);
  border-color: #dc3545;
  margin-left: 62%;
  margin-top: 3%;
  transform: translateX(-50%);
}
/*btnDelete*/
.btn-primary {
  color: #fff;
  justify-content: center;
  border-color: #0d6efd;
  transform: translateX(-50%);
}
/*btnEdit*/
.btnEdit{
  margin-left: 6%;
}
/*ICONS DELETE / EDIT*/
#btnIcons{
  position: relative;
  display: flex;
  width: 25px;
}