main {
    padding: 2rem;
}

.blog-grid {
    margin: auto;
    gap: 5rem;
    padding: 2rem;
}

.card {
    margin: auto;
    width: 20rem;
    height: 25rem;
}

.card-img-top {
    margin-top: 0.7rem;
}

.card-text {
    height: 5rem;
    overflow: hidden;
}

.card-title {
    overflow: hidden;
    height: 3.5rem;
}

.page-item {
    cursor: pointer;
}

.current-page {
    border: 3px solid rgb(117, 117, 190);
}

.details {
    font-weight: bold;
}

.comment {
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    font-size: small;
    background-color: rgb(238, 235, 235);
}

.bold-it {
    font-weight: bold;
}

.new-tile {
    margin: 5px;
    font-size: larger;
}

.new-tile * {
    background-color: rgb(117, 117, 190);
    color: white;
}

textarea {
    background: center center no-repeat;
    border: 1px solid #888;
    resize: none;
    overflow: auto;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(202, 201, 201);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 175, 175);
}