.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body>button {
    margin: 50px 0 10px;
}
.modal-body>p {
    margin-bottom: 20px;
}

.modal-body2 {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;;
    border: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
}

.modal-body2 > strong {
    margin-bottom: 10px;
}
