/**
 * MODULE - CURSOR
 */

.cursor {
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference;
}