/**
 * MODULE - CURSOR
 */

.cursor {
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 1080;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__ball circle {
  fill: #f7f8fa;
}

.cursor__ball--big svg {
  width: 30px;
  height: 30px;
}

.cursor__ball--small svg {
  width: 10px;
  height: 10px;
}

.cursor__ball--small {
  display: none;
}