/**
 * MODULE - HEADER
 */

.header{
  z-index: 2;
  padding: 2rem 4rem;
  mix-blend-mode: difference;
  color: #ffffff;
  max-width: 992px;
}

.header__title{
  font-size: 2.4rem;
  margin-bottom: 0;
}