/**
 * STATUS - DARK
 */

.dark-mode {
  color: #FAFAFA;
}

.dark-mode::before {
  transform: translateX(0);
}

.dark-mode .toggle {
  background: var(--white);
}

.dark-mode .toggle::before  {
  background: var(--black);
}

.dark-mode .toggle_icons svg {
  fill: var(--black);
}

.dark-mode .exercise__code{
  color: var(--black);
}