.create-post{
    width: 100%;
    display: flex;
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

.avatar{
    position: absolute;
    top: 45%;
    left: 1%;
}

.create-post__text{
    width: 100%;
    resize: none;
    padding-left: 7rem;
    padding-top: 1rem;
    border: none;
    outline: none;
}

.btn__createPost{
    position: absolute;
    background-color: transparent;
    color: black;
    font-weight: bold;
    border-color: #ccc;
    top: 75%;
    left: 90%;
    transition: all 300ms;
}

.btn__createPost:hover{
    background-color: transparent;
    color: black;
    transform: scale(1.1);
    border-color: rgb(145, 145, 145);
}