@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
@import url(./normalize.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid yellow; */
}

:root {
    --primary-color:#2D2B79;
    --secondary-color: #582E73;
    --tertiary-color: #FDBB20;
    --space-font: 'Kodchasan', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(66.75deg, #2D2B79 20%, #582E73 94%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 45rem;
    border-radius: 1.3rem;
    background-color: #fff;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background-color: transparent;
}

.header__logo--star {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
    font-family: var(--space-font);
    font-weight: 600;
    font-size: 5.3rem;
    font-style: italic;
    color: #fff;
}

.header__logo--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.8rem;
    width: 9.5rem;
}

.header__logo--blog {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    font-family: var(--space-font);
    font-weight: 600;
    font-size: 5.3rem;
    font-style: italic;
    color: #fff;
}

.body__card--post {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: auto;
}

.container__card--post {
    border-radius: 0.6rem;
    margin-bottom: 0.7rem;
}