/**
 * LAYOUT - COMMON
 */

.main {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 992px;
}

.section {
  margin: 2rem;
  background: #fbfbfd;
}

.grid {
  height: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);
  margin: 2rem;
}

.headline-card__line {
  background-image: url(/assets/images/svg/anim-true.svg);
  background-size: 100% auto;
  margin: 0 auto;
  width: 4px;
  -webkit-box-flex: 100;
  -webkit-flex: 100;
  flex: 100;
  height: 150px;
}

.full-page{
  height: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);
}

.outside {
  width: 100%;
  padding-top: 133.33%; /* 4:3 Aspect Ratio (divide 4 by 3 = 1.3333)  */
  position: relative; /* If you want text inside of it */
}

/* If you want text inside of the container */
.inside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* background */

.bg-black {
  background-color: #121212;
}
.bg-blue {
  background-color: #0d6efd;
}
.bg-indigo {
  background-color: #6610f2;
}
.bg-purple {
  background-color: #6f42c1;
}
.bg-pink {
  background-color: #d63384;
}
.bg-red {
  background-color: #dc3545;
}
.bg-orange {
  background-color: #fd7e14;
}
.bg-yellow {
  background-color: #ffc107;
}
.bg-green {
  background-color: #198754;
}
.bg-teal {
  background-color: #20c997;
}
.bg-cyan {
  background-color: #0dcaf0;
}

.header {
  z-index: 2;
  padding: 2rem 4rem;
}

.bi {
  font-size: 4rem;

}

.big {
  font-size: 8rem;

}

.commentsArea {
  overflow-y: auto;
  overflow-x: hidden;
  height: 25vh;
  
}
::-webkit-scrollbar {
  width: 0px;
}